page-login {
    html, body{
        background-color: black;
    }

    .logologin{
        /*height: 30%;*/
        margin-bottom: 10%;
        width: 80%;
    }

    .btnForm{
        //width: 80%;
        border-radius: 3px;
        color: #FFFFFF;
        background-color: rgba(130, 130, 130, 0.5);
        border: 1px solid #FFFFFF;
        padding: 7%;  
        margin-top: 5%
    }

    .btnaccess{
        width: 80%;
        border-radius: 3px;
        color: #FFFFFF;
        background-color: rgba(130, 130, 130, 0.5);
        border: 1px solid #FFFFFF;
        padding: 7%; 
        font-size: 1.5em;
    }

    #container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .fbicon{
        margin-left: 15px;
    }

    .accessicon{
        margin-left: 15px;
    }

    .msgbienvenida{
        color: #FFFFFF;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10%
    }

    .loginform{
        width:80%;
    }

    .inputForm{
        border-radius: 3px;
        color: #FFFFFF !important;
        background-color: rgba(130, 130, 130, 0.5);
        margin-bottom: 5%;
    }

    .text-input::-moz-placeholder {
        color: white;
      }
      
      .text-input:-ms-input-placeholder {
        color: white;
      }
      
      .text-input::-webkit-input-placeholder {
        color: white;
      }

    .staff{
        color: #FFF;
        font-size: 4em;
        letter-spacing: 30px;
        width: 80%;
        text-align: end;
        font-weight: bold;
    }

    .scroll-content{
        padding-bottom: 0px !important;
    }

    .btnaccess{
        width: 80%;
        border-radius: 3px;
        color: #FFFFFF;
        background-color: rgba(130, 130, 130, 0.5);
        border: 1px solid #FFFFFF;
        padding: 7%; 
        font-size: 1.5em;
    }
}