<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding>

  <video class="videobg" poster="assets/video/poster.jpg" autoplay loop src="assets/video/login.mp4"></video>

  <div id="container">

    <!--<h1 class="staff">STAFF</h1>-->

    <img class="logologin" src="assets/imgs/logofull.png">

    

    <!-- FORMULARIO LOGGIN SI EL USUARIO YA TIENE CONTRASEÑA CREADA -->
    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate *ngIf="loginFormVisible" class="loginform">

      <ion-item  class="inputForm">
        <ion-input class="text-input" type="url" formControlName="usernamelogin" required placeholder="Usuario"></ion-input>
      </ion-item>

      <ion-item class="inputForm">
        <ion-input class="text-input" type="password" formControlName="password" required placeholder="Contraseña"></ion-input>
      </ion-item>

      <button ion-button type="submit" block ion-button color="light" [disabled]="!loginForm.valid" class="btnForm">INICIAR SESIÓN</button>

      <!---<div ion-button block color="light" (click)="changePassword()" class="btnForm">RECUPERAR CONTRASEÑA</div>-->
    </form>

    <!-- -------------------------------------------------------------- -->

    <!--<button *ngIf="btnloginshow" class="btnlogin" ion-button full (click)="loginWithFB()">Inicia sesión con facebook<ion-icon class="fbicon" name="logo-facebook"></ion-icon></button>-->
    <div *ngIf="welcomeVisible" class="msgbienvenida">
      <h1>¡Bienvenido!</h1>
      <h2>{{ userData.displayName }}</h2>
      
    </div>
    <button *ngIf="welcomeVisible" class="btnaccess" ion-button full (click)="checkUserCrm()">Continuar<ion-icon class="accessicon" name="log-in"></ion-icon></button>
    

    <!--<ion-card *ngIf="userData">
      <ion-card-header>{{ userData.username }}</ion-card-header>
      <img [src]="userData.picture" />
      <ion-card-content>
        <p>Email: {{ userData.email }}</p>
        <p>First Name: {{ userData.first_name }}</p>
      </ion-card-content>
    </ion-card>-->
  </div>

</ion-content>
