<ion-tabs>
    <ion-tab [root]="mesasRoot" tabTitle="Mesas" tabIcon="grid" (ionSelect)="onChange()"></ion-tab>
    <ion-tab [root]="playlistRoot" tabTitle="Playlist" tabIcon="list" (ionSelect)="onChange()"></ion-tab>
    <ion-tab [root]="adminUserRoot" tabTitle="Usuarios" tabIcon="people" (ionSelect)="onChange()" *ngIf="user.esAdmin"></ion-tab>
    <!--<ion-tab [root]="somethingRoot" tabTitle="Something" tabIcon="information-circle" (ionSelect)="onChange()"></ion-tab>-->
</ion-tabs>