<ion-menu [content]="content">
  <ion-content class="sidemenu">
      
    <div id="menuprofileinfo">
      <img class="custom-avatar" src="assets/imgs/logo.png" />
      <h2>{{ user.displayName }}</h2>
      <p>{{ user.email }}</p>
    </div>
    <ion-list>
      
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" class="menuicon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>