// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.videobg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.sidemenu{
    background-color: rgba(255, 255, 255, 0.95);
}

.sidemenu .item-md {

    color: color($colors, nicedark);
}
  
.custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
}

#menuprofileinfo{
    text-align: center;
    background-color: color($colors, primary);
    color: #FFFFFF;
    padding-top: 10%;
    border-bottom: 5px solid #2d3035;
}

.item-divider-md{
    background-color: color($colors, secondary);
}

.menuicon{
    margin-right: 5%;
}