page-playlist {
    .colorsinfocontainer{
        display: flex;
        width: 100%;
        justify-content: center;
        padding-left: 5%;
        word-wrap: break-word;
        color: #FFFFFF;
    }

    .turn{
        align-self: center;
        padding: 0% 3% 0% 3%;
        width: 15%;
        text-align: center;
    }

    .infocontainer{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .btnsEdit{
        /*color: #FFF;
        border-color: #FFF;*/
        font-size: .7em;    
    }

    .colormesa{
        margin-right: 5%;
        background-color: #234553;
        width: 1em;
        height: 1em;
        align-self: center;
        border: 1px solid #FFFFFF;
    }

    .colorcancion{
        margin-right: 5%;
        background-color: #764859;
        width: 1em ;
        height: 1em;
        align-self: center;
        border: 1px solid #FFFFFF;
    }

    .colorcontainer{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        padding: 0% 2% 0% 2%;
    }
    
    .songself{
        background-color: #234553;
        color: #FFFFFF;
        padding-left: 0px;
    }

    .songtable{
        background-color: #764859;
        color: #FFFFFF;
        padding-left: 0px;
    }

    .song{
        padding-left: 0px !important;
    }

    .songtable p, .songself p{
        color: #FFFFFF;
    }

    .item-md.item-block .item-inner{
        padding-right: 0px;
    }

    .label-md{
        margin-right: 0px;
    }

    .songinfo{
        white-space: normal;
        min-width: 85%;
        max-width: 85%;
    }

    .btnsEditContainer{
        align-self: center;

    }

    ion-row .item-md.item-block .item-inner{
        border-bottom: 0px;
    }

    .radio{
        padding-left: 5% !important;
    }

    .labelFilter{
        margin-left: 2%;
    }

    ion-row .item-md{
        padding-left: 0px !important;
    }

    ion-header .row{
        background-color: #FFFFFF !important;
    }

    .switchsongbtn{
        transform: rotate(90deg);
    }
    
    .btnscontainer{
        margin-left: 10%;
        justify-content: flex-end;
    }

    ion-icon {
        margin-right: 10%;
    }

    .col{
        flex-grow: unset !important;
    }
    
    
}
