<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          Playlist
      </ion-title>
  </ion-navbar>
  <ion-row radio-group [(ngModel)]="filtroPlaylist" justify-content-start align-items-start>
      <ion-col col-auto class="labelFilter">
        <ion-item>
          Filtrar:
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item>
          <ion-label>Todo</ion-label>
          <ion-radio value="todo" (ionSelect)="onChangeFilter($event)" checked class="radio"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item>
          <ion-label>De mis mesas</ion-label>
          <ion-radio value="misMesas" (ionSelect)="onChangeFilter($event)" class="radio"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Desliza para actualizar"
    refreshingSpinner="circles"
    refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div *ngFor="let song of playList; let i = index;">
      <ion-item *ngIf="song.show" [ngClass]="{'songtable': (song.mesaId == this.mesa && song.accountId != this.user), 'songself' : (song.accountId == this.user && song.accountId == this.user), 'song': (song.accountId != this.user && song.accountId != this.user)}">
        <div class="infocontainer">
          <div class="turn">
            <img src="assets/imgs/sound.gif" *ngIf="song.playing == 1" width="100%">
            <!--<div>{{song.turno}}</div>-->
            <h1 *ngIf="song.playing == 0"> {{i+1}} </h1>
          </div>
        
          <div class="songinfo">
            <h2>{{song.name}}</h2>
            <h3>Por: {{song.showFacebookName == 1 ? song.accountName : song.nickname}}</h3>
            <p>Mesa: {{song.mesaName}}</p>
          </div>



          <!--<div class="btnsEditContainer" *ngIf="song.accountId == user && song.playing == false && song.turno != 1">
            <button ion-button outline item-end class="btnsEdit" (click)="showEdit(song)">
              <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button outline item-end class="btnsEdit" (click)="showEdit(song)">
              <ion-icon name="swap" class="switchsongbtn"></ion-icon>
            </button>
            <button ion-button outline item-end class="btnsEdit" (click)="showDelete(song)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>-->
        </div>
        <ion-row class="btnscontainer">
          <ion-col>
            <button ion-button outline item-end class="btnsEdit" (click)="previewVideo(song.idYoutube)">
                <ion-icon name="logo-youtube"></ion-icon>
              <div>Preview</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button outline item-end class="btnsEdit" (click)="showEdit(song)">
              <ion-icon name="create"></ion-icon>
              <div>Modificar</div>
            </button>
          </ion-col>
          <ion-col center text-center *ngIf="user.esAdmin && song.turno > 1">
            <button ion-button outline item-end class="btnsEdit" (click)="consultarAltaPrioridad(song)">
              <ion-icon name="trending-up"></ion-icon>
              <div>Alta prioridad</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>
    
</ion-content>
