<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nueva Mesa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="loadingVisible">
    <img src="assets/imgs/loading.gif" alt="">
  </div>

  <div *ngIf="formVisible">
    <form [formGroup]="newTableForm" (ngSubmit)="process()" novalidate class="newTableForm" >

      <ion-item  class="inputForm">
        <ion-input class="input" type="number" formControlName="tableNumber" required placeholder="Número de mesa"></ion-input>
      </ion-item>

      <ion-item  class="inputForm">
        <ion-input class="input" type="number" formControlName="maximoCanciones" required placeholder="Número de clientes"></ion-input>
      </ion-item>
  
      <ion-item class="inputForm">
          <ion-textarea placeholder="Ingrese alguna descripción" formControlName="description"></ion-textarea>
      </ion-item>
  
      <button type="submit" block ion-button color="primary" [disabled]="!newTableForm.valid" class="btnForm">CREAR MESA</button>
    </form>
  </div>

  <div *ngIf="displayQrCode()">
    <ion-card>
      <ion-item>
        <h1>Mesa {{mesaData.name}}</h1>
      </ion-item>
    
      <img [src]="generated" imageViewer/>

    </ion-card>

    <button ion-button color="primary" class="btnOk" (click)="close()">OK</button>
  </div>
</ion-content>
