page-edit-song {
    #ytsearchbar input{
        background: rgba(130, 130, 130, 0)!important;
        color: #FFFFFF;
        margin-top: 1%;
        box-shadow: none!important;
    }

    .itemContainer{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
    }

    .song{
        align-self: baseline;
        width: 80%;
        display: flex;
    }

    .preview{
        align-self: center;
        width: 20%;
        text-align: center;
    }

    .songtitle{
        text-align: center;
    }

    .yticon{
        font-size: 2em;
    }

    .previewContentBtn{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .btnPreview{
        height: auto !important;
        padding: 5px !important;
    }

    .titlesong{
        text-align: center;
    }
}
