<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()" *ngIf="this.isEdit">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar #ytsb id="ytsearchbar" 
      placeholder="Buscar"
      animated="true"
      autocomplete="off"
      autocorrect="off" 
      spellcheck="false"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (search)="onInput($event)" 
      (ionCancel)="onCancel()"
      (ionClear)="onCancel()" 
      placeholder="¡Busca aquí tu canción!">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<!--      debounce="10000"
      (ionInput)="onInput($event)" -->

<ion-content>

  <!--<div *ngIf="loading" class="">
      <img class="" height="" src="assets/imgs/loading.gif">
  </div>-->
  <h1 class="titlesong">Canción a cambiar: {{song.name}}</h1>
  <div *ngIf="bgbuscar" class="">
      <!--<img class="" height="" src="assets/imgs/buscarbg.png">-->
      <ion-card>
          <ion-card-header>
            ¡Atención!
          </ion-card-header>
          <ion-card-content>
              <p>Por favor verifica que la canción que selecciones sea una pista de karaoke válida, puedes hacerlo presionando el botón "Preview" a la derecha de cada canción del resultado de búsqueda.</p>
              <p>¡Gracias!</p>
          </ion-card-content>
        </ion-card>
  </div>

  <div *ngIf="sinresultados" class="">
      <h2>No se encontraron resultados :(</h2>
  </div>

  <!--<ion-list no-padding>

    <div class="itemContainer">


    </div>
    <button ion-item *ngFor="let list of searchResult" (click)="showConfirmAdd(list)" text-wrap>
      <ion-thumbnail item-start>
        <img [src]="list.snippet.thumbnails.default.url">
      </ion-thumbnail>
      <h2>{{ list.snippet.title }}</h2>
    </button>


    <div class="preview">
      <button ion-button (click)="previewVideo(list.id.videoId)" class="btnPreview">
        <div class="previewContentBtn">
          <div class="yticon">
            <ion-icon name="logo-youtube"></ion-icon>
          </div>
          <div class="btntxt">Preview</div>
        </div>
      </button>
    </div>
  </ion-list>-->


  <ion-list no-padding>
      <ion-item ion-item *ngFor="let list of searchResult">
        <div class="itemContainer">
          <div (click)="showConfirmAdd(list)" text-wrap class="song">
            <ion-thumbnail item-start>
              <img [src]="list.snippet.thumbnails.default.url">
            </ion-thumbnail>
            <h2 item-start>{{ list.snippet.title }}</h2>
          </div>
          <div class="preview">
            <button ion-button (click)="previewVideo(list.id.videoId)" class="btnPreview">
              <div class="previewContentBtn">
                <div class="yticon">
                  <ion-icon name="logo-youtube"></ion-icon>
                </div>
                <div class="btntxt">Preview</div>
              </div>
            </button>
          </div>
        </div>
      </ion-item>
    </ion-list>
</ion-content>

