<ion-header>

    <ion-navbar color="primary">
      <ion-title>Editar Mesa</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <div>
      <form [formGroup]="newTableForm" (ngSubmit)="saveUser()" novalidate class="newTableForm" >

        <ion-item  class="inputForm">
            <ion-label color="primary" stacked>Número de clientes</ion-label>
          <ion-input class="input" type="number" formControlName="maximoCanciones" required placeholder="Número de clientes"></ion-input>
        </ion-item>
    
        <ion-item class="inputForm">
            <ion-label color="primary" stacked>Descripción</ion-label>
            <ion-textarea placeholder="Ingrese alguna descripción" formControlName="description"></ion-textarea>
        </ion-item>
    
        <button type="submit" block ion-button color="primary" [disabled]="!newTableForm.valid" class="btnForm">GUARDAR</button>
      </form>
    </div>
  </ion-content>
  