<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-title>Nuevo Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="newUserForm" (ngSubmit)="createUser()" novalidate class="loginform">
      <ion-item  class="inputForm">
        <ion-label color="primary" stacked>Nombre</ion-label>
        <ion-input class="text-input" type="text" formControlName="userName" required></ion-input>
      </ion-item>
      <ion-item  class="inputForm"> 
          <ion-label color="primary" stacked>Apellidos</ion-label>
        <ion-input class="text-input" type="text" formControlName="userLastName" required></ion-input>
      </ion-item>
      <ion-item  class="inputForm"> 
          <ion-label color="primary" stacked>Email</ion-label>
        <ion-input class="text-input" type="email" formControlName="emailAddress" required></ion-input>
      </ion-item>
      <ion-item  class="inputForm"> 
          <ion-label color="primary" stacked>Usuario</ion-label>
        <ion-input class="text-input" type="url" formControlName="user" required></ion-input>
      </ion-item>
      <ion-item  class="inputForm"> 
        <ion-label color="primary" stacked>Contraseña (al menos 6 caracteres)</ion-label>
        <ion-input class="text-input" type="url" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Equipo</ion-label>
        <ion-select formControlName="equipos">
          <ion-option *ngFor="let equipo of equipos" [value]="equipo.id">{{equipo.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select formControlName="roles">
          <ion-option *ngFor="let rol of roles"  [value]="rol.id">{{rol.name}}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Es administrador</ion-label>
        <ion-checkbox formControlName="esAdmin"></ion-checkbox>
      </ion-item>

      <!--<ion-item class="inputForm">
        <ion-input class="text-input" type="password" formControlName="password" required placeholder="Contraseña"></ion-input>
      </ion-item>-->

      <button ion-button type="submit" block ion-button color="primary" [disabled]="!newUserForm.valid" class="btnForm">Guardar</button>

      <!---<div ion-button block color="light" (click)="changePassword()" class="btnForm">RECUPERAR CONTRASEÑA</div>-->
    </form>

</ion-content>

