page-mesas {
    .add{
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    .btnadd{
        background-color: transparent;
        width: 100%;
    }

    .ionbtn{
        width: 15%;
        text-align: center;
    }

    .itemHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ocupada{
        color: #d9534f;
    }

    .disponible{
        color: #6ec982;
    }
    
    .itemContent{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /*border: 1px solid #ccc;*/
        margin: 0% 5% 0% 5%;
    }

    .txtArea{
        width: 80%;
    }

    .btnEdit{
        align-self: center;
    }

    ion-row .item-md.item-block .item-inner{
        border-bottom: 0px;
    }

    .radio{
        margin-left: 5%;
    }

    .labelFilter{
        margin-left: 2%;
    }

    ion-row .item-md{
        padding-left: 0px !important;
    }

    .btnsEdit{
        /*color: #FFF;
        border-color: #FFF;*/
        font-size: .7em;    
    }

    .col{
        flex-grow: unset !important;
    }

    .btnscontainer{
        margin-left: 10%;
        justify-content: flex-end;
    }

    .icon{
        margin-right: 10%;
    }
}
