<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          Mesas
      </ion-title>
      <ion-buttons class="ionbtn" end> 
        <button (click)="openNewTable()" class="btnadd"> <ion-icon name="add" class="add"></ion-icon> </button> 
      </ion-buttons>
  </ion-navbar>
  <ion-row radio-group [(ngModel)]="filtroMesas" justify-content-start align-items-start>
      <ion-col col-auto class="labelFilter">
        <ion-item>
          Filtrar:
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item>
          <ion-label>Todo</ion-label>
          <ion-radio value="todo" (ionSelect)="onChangeFilter($event)" checked class="radio"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col col-auto>
        <ion-item>
          <ion-label>Mis mesas</ion-label>
          <ion-radio value="misMesas" (ionSelect)="onChangeFilter($event)" class="radio"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Desliza para actualizar"
    refreshingSpinner="circles"
    refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>    
    <div *ngFor="let mesa of mesas; let i = index">
      <ion-card *ngIf="mesa.show">
        <ion-item>
          <div class="itemHeader">
              <h1><strong>Mesa {{mesa.name}}</strong></h1>
              <h2 [ngClass]="{'ocupada' : (mesa.ocupada), 'disponible' : (!mesa.ocupada)}"> {{ mesa.ocupada === true ? 'Ocupada' : 'Disponible' }} </h2>
          </div>
        </ion-item>
        
        <!--<img src="img/advance-card-bttf.png">-->

        <ion-card-content *ngIf="mesa.ocupada">
          <div>
            <p>
              <strong>Máximo de canciones: </strong>{{mesa.songsLimit}}
            </p>
            <p>
              <strong>Clientes activos: </strong>{{mesa.clientesActivos}}
            </p>
            <p>
              <strong>Canciones pedidas: </strong>{{mesa.cancionesPedidas}}
            </p>
            <p>
              <strong>Responsable: </strong>{{mesa.assignedUserName}}
            </p>
          </div>
        </ion-card-content>
        
        <div class="itemContent" *ngIf="mesa.desc">
          <!--<div class="txtArea">-->
            <ion-card-content >
              <p>{{mesa.description}}</p>
              <!--<ion-textarea [value]="mesa.description" [readonly]="!mesa.editdesc" [attr.autofocus]="!mesa.editdesc"></ion-textarea>-->
            </ion-card-content>
          <!--</div>
          <div class="btnEdit" *ngIf="mesa.assignedUserId == user">
            <button ion-button (click)="mesa.editdesc = !mesa.editdesc">{{ mesa.editdesc === true ? 'GUARDAR' : 'EDITAR' }}</button>
          </div>-->
        </div>

        <div class="itemQR" *ngIf="mesa.qr">
          <img [src]="mesa.qrimg">
        </div>

        <ion-row class="btnscontainer">
          <ion-col>
            <button class="btnsEdit" ion-button outline item-end (click)="mesa.qr = !mesa.qr; generateQr(mesa.id, i)">
              <ion-icon name="qr-scanner"></ion-icon>
              <div>Código</div>
            </button>
          </ion-col>
          <ion-col>
            <button class="btnsEdit" ion-button outline item-end (click)="mesa.desc = !mesa.desc">
              <ion-icon name="information-circle"></ion-icon>
              <div>Descripción</div>
            </button>
          </ion-col>
          <!--<ion-col>
            <button ion-button icon-start clear small (click)="showOptions(mesa)">
              <ion-icon name="add"></ion-icon>
              <div>Más</div>
            </button>
          </ion-col>-->
          <ion-col>
            <button class="btnsEdit" ion-button outline item-end (click)="editTable(mesa)" *ngIf="userData.esAdmin">
              <ion-icon name="create"></ion-icon>
              <div>Editar</div>
            </button>
          </ion-col>
          <ion-col>
            <button class="btnsEdit" ion-button outline item-end *ngIf="mesa.assignedUserId == user || userData.esAdmin" (click)="showConfirmCloseTable(mesa)">
              <ion-icon name="exit"></ion-icon>
              <div>Cerrar mesa</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>    
    </div>
  </ion-list>
</ion-content>
  