page-edit-user {
    .btnForm{
        /*width: 80%;*/
        border-radius: 3px;
        color: #FFFFFF;
        font-weight: bold;
        /*background-color: rgba(130, 130, 130, 0.5);
        border: 1px solid #FFFFFF;*/
        padding: 7%;  
        margin-top: 10%;
    }

}
