<!--
  Generated template for the EditUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-title>Editar Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="editUserForm" (ngSubmit)="editUser()" novalidate class="loginform">
      <ion-item  class="inputForm">
        <ion-label color="primary" stacked>Nombre</ion-label>
        <ion-input class="text-input" type="text" formControlName="userName" [value]="user.firstName" required></ion-input>
      </ion-item>
      <ion-item  class="inputForm"> 
          <ion-label color="primary" stacked>Apellidos</ion-label>
        <ion-input class="text-input" type="text" formControlName="userLastName" [value]="user.lastName" required></ion-input>
      </ion-item>
      <ion-item  class="inputForm"> 
          <ion-label color="primary" stacked>Usuario</ion-label>
        <ion-input class="text-input" type="url" formControlName="user" [value]="user.userName" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Equipo</ion-label>
        <ion-select formControlName="equipos">
          <ion-option *ngFor="let equipo of equipos"   [value]="equipo.id">{{equipo.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select formControlName="roles">
          <ion-option *ngFor="let rol of roles"  [value]="rol.id">{{rol.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item  class="inputForm"> 
          <ion-label color="primary" stacked>Cambiar contraseña por: (al menos 6 caracteres)</ion-label>
        <ion-input class="text-input" type="url" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Es administrador</ion-label>
        <ion-checkbox formControlName="esAdmin"></ion-checkbox>
      </ion-item>

      <!--<ion-item class="inputForm">
        <ion-input class="text-input" type="password" formControlName="password" required placeholder="Contraseña"></ion-input>
      </ion-item>-->

      <button ion-button type="submit" block ion-button color="primary" [disabled]="!editUserForm.valid" class="btnForm">Guardar</button>

      <!---<div ion-button block color="light" (click)="changePassword()" class="btnForm">RECUPERAR CONTRASEÑA</div>-->
    </form>

</ion-content>
