<!--
  Generated template for the UserAdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Administración de usuarios</ion-title>
    <ion-buttons class="ionbtn" end> 
      <button (click)="openNewUser()" class="btnadd"> <ion-icon name="person-add" class="add"></ion-icon> </button> 
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Desliza para actualizar"
    refreshingSpinner="circles"
    refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list>    
    <div *ngFor="let user of users; let i = index">
      <ion-card>
        <ion-card-content>
          <div class="headerContainer">
            <div>
              <ion-card-title>
                {{user.name}}
              </ion-card-title>
            </div>
            <div class="statuscontainer" [ngClass]="{'activo' : (user.isActive == 1), 'inactivo' : (user.isActive == 0)}">
                <div class="icontxt">
                  <ion-icon *ngIf="user.isActive == 1" name="checkmark-circle" class="statusitem"></ion-icon>
                  <ion-icon *ngIf="user.isActive == 0" name="close-circle" class="statusitem"></ion-icon>
                  <h2 class="statusitem" [ngClass]="{'activo' : (user.isActive == 1), 'inactivo' : (user.isActive == 0)}"><strong> {{ user.isActive == 1 ? 'Activo' : 'Inactivo' }} </strong></h2>
                </div>
                <div *ngIf="user.esAdmin == 1" class="icontxt">
                    <ion-icon name="ribbon" class="statusitem activo"></ion-icon>
                    <h2 class="statusitem activo"><strong>Administrador</strong></h2>
                </div>
            </div>
          </div>
          <p>
            <strong>Usuario: </strong>{{user.userName}}
          </p>
          <p>
            <strong>Equipo: </strong>{{user.team}}
          </p>
          <p>
            <strong>Rol: </strong>{{user.role}}
          </p>
          
        </ion-card-content>
        <ion-row class="btnscontainer">
            <!--<ion-col>
              <button ion-button outline item-end class="btnsEdit" (click)="previewVideo(song.idYoutube)">
                  <ion-icon name="logo-youtube"></ion-icon>
                <div>Preview</div>
              </button>
            </ion-col>-->
            <ion-col *ngIf="user.isActive == 0">
              <button ion-button outline item-end class="btnsEdit" (click)="changeUserStatus(user.userId, user.isActive)">
                <ion-icon name="checkmark-circle"></ion-icon>
                <div>Activar</div>
              </button>
            </ion-col>
            <ion-col *ngIf="user.isActive == 1">
              <button ion-button outline item-end class="btnsEdit" (click)="changeUserStatus(user.userId, user.isActive)">
                <ion-icon name="close-circle"></ion-icon>
                <div>Desactivar</div>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button ion-button outline item-end class="btnsEdit" (click)="editUser(user)">
                <ion-icon name="create"></ion-icon>
                <div>Editar</div>
              </button>
            </ion-col>
            <ion-col center text-center *ngIf="userData.defaultTeamName == 'Gerencia'">
              <button ion-button outline item-end class="btnsEdit" (click)="showDeleteUser(user)" >
                <ion-icon name="trash"></ion-icon>
                <div>Eliminar</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
    </div>
  </ion-list>
</ion-content>
