page-user-admin {
    .add{
        color: #fff;
        font-size: 2em;
        font-weight: bold;
    }

    .btnadd{
        background-color: transparent;
        width: 100%;
    }

    .ionbtn{
        width: 15%;
        text-align: center;
    }

    .btnsEdit{
        /*color: #FFF;
        border-color: #FFF;*/
        font-size: .7em;    
    }

    .btnsEditContainer{
        align-self: center;
    }

    .btnscontainer{
        margin-left: 10%;
        justify-content: flex-end;
    }

    .headerContainer{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .icon{
        margin-right: 10%;
    }

    .inactivo{
        color: #d9534f;
    }

    .activo{
        color: #6ec982;
    }

    .statuscontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .statusitem{
        align-self: center;
    }

    .col{
        flex-grow: unset !important;
    }

    .icontxt{
        display: flex;
        flex-direction: row;
    }
}
